.footer {
  padding: 2rem 0rem;
  background-color: var(--bg-secondary);
  color: var(--text-on-dark);

  &Description {
    line-height: 1.4;
    font-size: 1.4rem;
    // font-style: italic;
  }

  &Link {
    position: relative;
    display: inline-block;
    padding: 1rem 1.6rem;
    // border: 2px solid var(--text-accent);
    border: 2px solid #ff760b;

    border-radius: 0.8rem;

    &:hover {
      color: #ff760b;
    }
  }

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
