.themeSwitch {
  cursor: pointer;
  width: 4.8rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 999px;
  border: 2px solid var(--border-accent);
  transition: background-color 0.3s ease;

  &Thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--button-primary-bg);
    transform: translateX(0.4rem);
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }

  &Thumb[data-theme="dark"] {
    transform: translateX(2.5rem);
  }
}
