.movie {
  // border: 2rem solid #1a1a1a;
  // border-bottom: none;

  // background-color: #1a1a1a;
  // background-color: black;
  border-radius: 1rem;
}

.card {
  height: 100%;
  overflow: hidden;
  // background-color: #1a1a1a;
  // background-color: black;
  // color: var(--text-on-dark);
  transition: transform 0.3s ease;
}

.image,
.title {
  position: relative;
  overflow: hidden;
  background: #2a2a2a;

  &::before,
  &::before {
    content: "";

    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.08),
      transparent
    );

    animation: skeleton-loading 1.2s infinite;
  }
}

.image {
  width: 100%;
  aspect-ratio: 2 / 3;
  // border: 1rem solid black;
  aspect-ratio: 2 / 3;
  border-radius: 1rem;
  border-bottom: none;
}

.content {
  padding: 1rem 0rem;
  // padding: 1rem;
  // border: 1px solid red;
}

.title {
  // width: 90%;
  height: 32px;

  border-radius: 0.4rem;
}

@keyframes skeleton-loading {
  100% {
    transform: translateX(100%);
  }
}
