.card {
  height: 100%;
  overflow: hidden;
  // background-color: black;
  // color: var(--text-on-dark);
  transition: transform 0.3s ease;
}

.imageWrapper {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  opacity: 0;
  transition: 0.33s;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.image {
  display: block;
  overflow: hidden;
  cursor: pointer;
  background-color: #000000;
  // border: 1px solid red;
  aspect-ratio: 2 / 3;
  border-radius: 1rem;

  & img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.33s ease;
  }
}

.content {
  // border: 1px solid red;
  padding: 1rem;
  transition: transform 0.4s ease;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  gap: 1rem;
}

.details {
  text-transform: uppercase;

  color: var(--text-on-dark);
  border: 1px solid currentColor;
  padding: 1rem 1.5rem;
}

.year {
  opacity: 0.5;
  font-size: 1.2rem;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 1.5rem;
  color: var(--text-on-dark);
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 1.3;
}
