:root {
  --bg-primary: #161616;
  --bg-secondary: #000000;
  --text-primary: #ffffff;
  --text-on-dark: #ffffff;
  --text-accent: #ff760b;
  --button-primary-bg: #ff760b;
  --border-primary: #ff760b; // --button-primary-hover: #ff8c2b;
  --border-secondary: #2a7aef;
  --border-accent: #323334;
  --header-hover-bg: #1a1a1a;
}
